@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");


.payment{
    height: 900px;
    
    background-repeat:no-repeat;
    background-size:100% 100vh;
    width: 100%;
   
}
.pricing_section {
    background-image: url('../../public/images/background.png');
    background-color: #172746;
    background-size: 100% 100%;   
    height: 120vh;
    width: 100vw;
    padding-top: 90px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    font-family: 'Raleway';
}

.content_container {
    width: 65%;
    height: 100%;
    align-items: left;
}


.heading {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.content_line {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 30px;
}

.left_icons {
    height: 40px;
    width: 40px;
    margin-right: 50px;

}

.left_lines {
    color: #ffffff;
    font-weight: 600;
    font-size: 22px;
}

.cross-line {
    text-decoration-line: line-through;
    text-decoration-color: red;
}

.blue {
    color: #0096FF;
}


/* <<<========= Right side ===========>>> */

.rightblock{
    border: 2px solid white;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: black;
    background-color:#FFFFFF;
    row-gap: 10px;
    border-radius: 5px;
    height: 84%;
    
}


/* block */
.top{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 10px 0 ;
    
}
.new{
    display: flex;
    flex-direction: column;
    
}
.new img{
     
     height: 30px;
     width: 30px;
     align-items: center;
     margin-left: 10px;
    border: none;
} 
.new p{
    align-items: center;  
    margin: 0px;
}
h3{
    margin: 0px;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
hr{
    margin: 0 15px;
   
}
.amt{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 10px 20px;
    
}
.xy{
    border: 2px solid grey;
    margin-top: 30px;
    border-radius: 4px;
    /* max-width: 700px; */
}
.items{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
   
}
.left{
    display: flex;
    gap: 20px;

}
.right{
    display: flex;
    flex-direction: column;
}



/* .icons{
    display: flex;
    gap: 30px;
  
} */
.btns{
    display: flex;
    justify-content: space-around;
    margin: 15px;
    gap: 10px;
}
.btns button{
    padding: 3.5px 15px;
}
#cancel{
    border: 2px solid #F77171;
    background-color: transparent;
    color: #F77171;
    border-radius: 4px;
    font-size: 10px;
    height: 33px;
    width: 100%;
   
}
#pay{
    background-color: #47BA68;
    border: none;
    border-radius: 3px;
    color: white;
    width: 100%;
    font-size: 10px;
    height: 33px;
}

.plan1{
    border: 2px solid #BEBEBE;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin:10px 15px;
    padding: 0 5px
    
    
}
.pleft{
    display: flex;
    align-items: center;

}
.pright{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#p12{
    font-size: 14px;
    margin-left: 5px;

}
#total{
    font-size: 10px;
}
#perMo{
    font-size: 12px;
}
#month{
    font-size: 9px;
}

#razor{
    margin: 2px 0 18px 15px;
}

/* offer */
/* .bg{
    background-color: #ffffff;
    opacity: .2;
}
.bg div{
    font-weight: bold;
  color: #000000;
} */
.offer{
    display: flex;
    border: 2px solid #DE4313;
    border-radius: 5px;
    background-color: rgb(247, 113, 113, 0.2);
    height: 50px;
    align-items: center;
    margin: 15px;
    justify-content: space-between;
    
}
.offerL{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    
}
#offerTxt{
    color: #DE4313;
    font-size: 14px;
    
}
#offerValid{
    font-size: 12px;
    color: #DE4313;
}
.offerR{
    font-size: 14px;
    margin-right: 5px;
}
#totalAmt{
    font-size: 16px;
}
#blue{
    color: #0096FF;
}

#mainI{
    margin-right: 30px;
}
.iconWrap{
    margin-top: 50px;
}
#icons{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
}
#sign{
    display: flex;
    justify-content: space-evenly;
}

/* utils */


#strikeOff{
    text-decoration: line-through;
    text-decoration-color: red;
}

#disable{
    background-color: #BEBEBE;
    opacity: .3;
    border:solid #BEBEBE;
} 